
body {
    padding: 2em;
}

.box {
    padding: 1em;
}

.error {
    padding: 1em;
    background: red;
    color: white;
    font-weight: 800;
}

.actions {
    margin-top: 1em;
    border-top: 1px solid #000;
}

.pagination {
  margin-top: 1em;
  border-top: 1px solid #000;
  padding-top: .5em;
}

.button {
  padding: .5em;
  border: 1px solid #eee;
}

.button:disabled {
    color: #eee;
}